<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.demo">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".retrofit.RetrofitActivity" />
        <activity android:name=".web.WebActivity" />
        <activity android:name=".res.SelectorActivity" />
        <activity android:name=".res.ShapeActivity" />
        <activity android:name=".rxjava.RxJavaActivity" />
        <activity android:name=".date.DateActivity" />
        <activity
            android:name=".AndroidBug5497.AndroidBug5479Activity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".recycleview.OpenRecordActivity" />
        <activity android:name=".dialog.DialogActivity" />
        <activity android:name=".PopupWindow.PopupWindowActivity" />
        <activity android:name=".PopupWindow.popupwindowFromGitHup.activity.PopuWindowDemoActivity" />
        <activity android:name=".PopupWindow.popupwindowFromGitHup.activity.GravityActivity" />
        <activity android:name=".PopupWindow.popupwindowFromGitHup.activity.PopupActivity" />
        <activity android:name=".recycleview.ViewRecycle.ViewActivity" />
        <activity android:name=".recycleview.CitySelect.CityPickerActivity" />
        <activity android:name=".json.JsonActivity" />
        <activity android:name=".thread.ThreadActivity" />
        <activity android:name=".echarts.EchartsActivity" />
        <activity android:name=".drawable.DrawableActivity" />
        <activity android:name=".viewEventDispatch.ViewEventDispatchActivity" />
        <activity android:name=".SharedPreferences.SharedPreferencesActivity" />
        <activity android:name=".io.IOActivity" />
        <activity android:name=".viewLocation.ViewLocationActivity" />
        <activity android:name=".test.testPaper.TestPaperActivity" />
        <activity android:name=".testPaper.MyTestPaperActivity" />
        <activity android:name="com.example.administrator.kotlin.HelloKotlinActivity" />
        <activity android:name="com.example.administrator.kotlin.test.KotlinTestActivity" />
        <activity android:name=".rich_text.RichTextActivity" />
        <activity android:name=".video.AndroidVideoActivity" />
        <activity android:name=".string.StringTestActivity"></activity>
    </application>

</manifest>